.grid-container {
  margin-top: 4rem;
  width: 100vw;
  border: 2px solid green;
  display: flex;
  justify-content: center;
}

.grid {
  padding-inline: 2rem;
  min-width: 300px;
  max-width: 1200px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
}

.grid-item {
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
}

.grid-item-title {
  border: 1px solid green;
  color: rgb(0, 0, 0);
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-self: center;
  padding: 0.5rem;
  font-size: 18px;
}

.grid-item-text-cont {
  border: 1px solid purple;
  display: block;
  height: fit-content;
}

.grid-item-text {
  border: 2px solid black;
  line-height: 1.2;
  text-overflow: ellipsis;
}

.text-button {
  width: 100%;
  border: 1px solid blue;
  cursor: pointer;
  color: blue;
}

.margin-left {
  margin-left: 1rem;
}

button {
  all: unset;
}

.grid-buttons {
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
}

.grid-button {
  border: 1px solid white;
  padding: 0.5rem;
  background-color: rgb(14, 184, 127);
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}
.grid-button:hover {
  transform: scale(1.1);
}

.boka {
  background-color: rgb(63, 63, 222);
}

.grid-image-container {
  display: block;
  border: 2px solid red;
  width: 100%;
  height: 200px;
  object-fit: contain;
  padding: 1rem;
  transition: transform 0.5s ease;
  position: relative;
  overflow: hidden;
}

.grid-image-container.hideImage {
  transform: translateY(100%);
  z-index: -9999;
}

.grid-image {
  filter: brightness(90%) grayscale(10%) contrast(110%);
  border-radius: 0.5rem;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.price-info {
  position: absolute;
  width: 100%;
  bottom: 0;

  border: 2px solid green;
  background-color: white;
  justify-self: flex-end;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
  z-index: 9999;
}

/* Responsive for phone & tablet */
@media screen and (width < 600px) {
  .grid {
    padding-inline: 1rem;
  }
}
@media screen and (600px <= width < 900px) {
  .grid {
    padding-inline: 2rem;
  }
}
