.grid-container {
  margin-top: 4rem;
  width: 100vw;
  border: 2px solid green;
  display: flex;
  justify-content: center;
}
.grid {
  padding-inline: 2rem;
  min-width: 300px;
  max-width: 1200px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
}

.grid-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid black;
  border-radius: 0.5rem;
  min-height: 400px;
  position: relative;
  overflow: hidden;
}
.grid-item-title {
  color: rgb(0, 0, 0);
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  font-size: 18px;
}

.grid-text {
  line-height: 1.2;
  padding-inline: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-height: 24%;
  transition: height 1s ease;
}

.grid-text-hidden {
  line-height: 1.2;
  padding-inline: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: none;
  max-height: 24%;
  transition: all 1s ease;
}

.show-text {
  display: block;
}

.text-button {
  cursor: pointer;
  color: blue;
  margin-left: 0.5rem;
}

.margin-left {
  margin-left: 1rem;
}

button {
  all: unset;
}

.price-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
  flex-grow: 1;
  border: 2px solid green;
  z-index: 9999;
}

.grid-buttons {
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
}

.grid-button {
  border: 1px solid white;
  padding: 0.5rem;
  background-color: rgb(14, 184, 127);
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}
.grid-button:hover {
  transform: scale(1.1);
}

.boka {
  background-color: rgb(63, 63, 222);
}

.grid-image-container {
  border: 2px solid red;
  width: 100%;
  height: 40%;
  overflow: hidden;
  object-fit: contain;
  padding: 1rem;
  transition: height 1s ease;
}

.grid-image {
  filter: brightness(90%) grayscale(10%) contrast(110%);
  border-radius: 0.5rem;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: height 1s ease;
}

/* .hideImage {
  height: 15%;
  border: 2px solid blue;
} */

/* Responsive for phone & tablet */
@media screen and (width < 600px) {
  .grid {
    padding-inline: 1rem;
  }
}
@media screen and (600px <= width < 900px) {
  .grid {
    padding-inline: 2rem;
  }
}
