.behandlingar-container {
  border: 2px solid blue;
  height: auto;
}

.grid-container {
  margin-top: 8rem;
  border: 4px solid black;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(275px, 1fr)
  ); /* Responsive columns */
  gap: 2rem;
  justify-content: center;
  padding: 1rem;

  max-width: 1400px; /* Ensures it doesn’t span too wide on large screens */
  margin-left: auto; /* Centers the grid */
  margin-right: auto; /* Centers the grid */
}
