.behandlingar-container {
  border: 2px solid blue;
  height: auto;
}

.grid-container {
  border: 2px solid black;
  display: grid;
  /*  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Responsive columns */
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: auto;

  justify-content: center;
  gap: 2rem;
  padding: 1rem;

  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
