.behandlingar-container {
  border: 2px solid blue;
}

.title-container {
  padding-top: 4rem;
  width: 100%;
  text-align: center;
  border: 1px solid red;
}

.grid-container {
  margin-top: 4rem;
  width: 100%;
  border: 2px solid green;
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}
.grid {
  padding-inline: 1rem;
  min-width: 300px;
  max-width: 1200px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
}

.grid-item {
  width: 100%;
  height: auto;
  border: 0.5px solid rgb(32, 32, 32);
  border-radius: 0.5rem;
  min-height: 400px;
  position: relative;
}

.grid-item-title {
  color: rgb(30, 30, 30);
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  font-size: 18px;
}

.grid-text {
  border: 1px solid blue;
  line-height: 1.2;
  padding-inline: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.text-button {
  cursor: pointer;
  color: rgb(61, 61, 81);
  margin-left: 1rem;
}
.margin-left {
  margin-left: 1rem;
}

button {
  all: unset;
}

.grid-buttons {
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
}

.grid-button {
  border: 1px solid white;
  padding: 0.5rem;
  background-color: rgb(14, 184, 127);
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}
.grid-button:hover {
  transform: scale(1.1);
}

.boka {
  background-color: rgb(30, 30, 30);
}

.grid-image-container {
  width: 100%;
  object-fit: contain;
  padding: 1rem;
}
.grid-image {
  /*   filter: brightness(90%) grayscale(10%) contrast(110%); */
  border-radius: 0.5rem;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.translate50 {
  transform: translateY(-50px);
}

/* Responsive for phone & tablet */
@media screen and (width < 600px) {
  .grid {
    padding-inline: 1rem;
  }
}
@media screen and (600px <= width < 900px) {
  .grid {
    padding-inline: 2rem;
  }
}
