.my-button {
  border-radius: 0.25rem;
  text-transform: none;
  font-style: normal;
  font-weight: 400;
  padding-left: 22px;
  padding-right: 22px;
  color: #fff;
  height: 36px;
  font-size: 0.7rem;
  line-height: 14px;
  letter-spacing: 1.2px;
  transition: 0.2s 0.1s;
  background-color: var(--welcome-button);
  border: 0 solid;
  overflow: hidden;
}

.my-button:hover {
  transition: all 0.3s ease-in;
  background-color: var(--welcome-button-hover);
  cursor: pointer;
  padding-right: 28px;
  padding-left: 24px;
}
