.behandlingar-container {
  background-color: var(--background);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--welcome-button);
  min-height: 100vh;
}

.page-title-container {
  width: 100%;
  padding: 1rem;
  padding-top: 4rem;
  color: white;
}
.page-title {
  font-size: clamp(32px, 3.5vw, 40px);
  justify-self: start;
}

.content {
  width: 100%;
  height: fit-content;
  max-width: 1600px;
}

.grid-container {
  display: grid;
  padding: 1rem;
  margin: 1rem;

  gap: 1rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8rem;
  justify-content: center;

  /* Default - Mobile */
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

/* Tablet: 2 columns */
@media (min-width: 600px) {
  .content {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop: 3 columns */
@media (min-width: 900px) {
  .content {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
