.behandlingar-container {
  border: 2px solid red;
  background-color: var(--background);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  border: 4px solid blue;
  width: 100%;
  height: fit-content;
  max-width: 1600px;
}

.grid-container {
  display: grid;
  padding: 1rem;
  border: 2px solid black;
  margin: 1rem;

  gap: 1rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;

  /* Default - Mobile */
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

/* Tablet: 2 columns */
@media (min-width: 600px) {
  .content {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop: 3 columns */
@media (min-width: 900px) {
  .content {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
