.grid-item {
  border: 2px solid blue;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 300px;
  border-radius: 10px;
}

.item-title {
  font-size: 16px;
}
.item-title:hover {
  cursor: pointer;
}

.read-more {
  color: grey;
}
.read-more:hover {
  cursor: pointer;
}

.grid-buttons {
  margin-top: auto;
  border: 1px solid red;
  justify-items: flex-end;
  display: flex;
  justify-content: space-between;
}
