.grid-item {
  height: 225px;
  width: 100%;
  border: 1px solid rgb(20, 20, 20, 0.6);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.item-title {
  font-size: clamp(16px, 3vw, 18px);
  color: rgb(17, 17, 17);
}
.item-title:hover {
  cursor: pointer;
}

.read-more {
  color: grey;
}
.read-more:hover {
  cursor: pointer;
}

.grid-buttons {
  margin-top: auto;
  justify-items: flex-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-info {
  font-size: 14px;
  line-height: 1;
}
