.addvert-wrapper {
  text-align: center;
  background-color: var(--bg-blue2);
}

.addvert-text {
  color: white;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.logotype-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.logotype-wrapper {
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.logotype-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}

.make-logo-smaller {
  max-width: 80%;
  height: auto;
}

@media screen and (max-width: 600px) {
  .logotype-container {
    flex-direction: column;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
