.om-container {
  background-color: var(--bg-blue2);
  min-height: 100vh;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.om-title {
  margin-bottom: 2rem;
}

.om-text-container {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  gap: 0.5rem;
  line-height: 1.3;
}

.om-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}

.om-image {
  max-width: 100%;
  height: auto;
  border-radius: 12px; /* optional for rounded corners */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* optional for subtle depth */
  width: 100%;
  max-width: 200px; /* limits size on large screens */
}

@media screen and (width < 750px) {
  .om-text-container {
    padding: 1rem;
    padding-top: 6rem;
  }
}
