:root {
  --background: #ffffff;
  --foreground: #000;
  --yellow: rgb(250, 200, 0);
  --footer: var(--background);
  --navbar: var(--background);
  --black: #000;
  --welcome-title: #e18e4a;
  --welcome-button: #216396;
  --welcome-button-hover: #359bea;
  --bg-blue: #103752;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #fafafa;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: thin; /* Thin scrollbar for firefox */
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  all: unset;
}

/* Customize scrollbar width and appearance */
::-webkit-scrollbar {
  width: 6px; /* Change width here */
  height: 6px; /* For horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded edges */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Darker thumb on hover */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* Color of the scrollbar track */
}
