:root {
  --background: #ffffff;
  --foreground: #000;
  --black: #000;
  --white: #fff;
  /*   --bg-blue: #1c4c86; */
  --bg-blue2: #183b57;
  /*   --bg-blue2: #2c5e75; */
  --bg-blue22: #387093;
  --bg-footer: var(--bg-blue);
  --welcome-title: rgb(234, 222, 210);
  --welcome-button: #359bea;
  --welcome-button-hover: #4faef7;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: thin; /* Thin scrollbar for firefox */
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  all: unset;
}

/* Customized scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}
