.home-container {
  position: relative;
  background-image: url("../../public/hero2.jpg");
  background-repeat: no-repeat;
}

.welcome-page {
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000000;
  min-height: 100vh;
  min-height: 100dvh;
}

.welcome-image {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.welcome-container {
  max-width: fit-content;
  border-radius: 2rem;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.welcome-title {
  display: flex;
  flex-direction: row;
  color: var(--welcome-title);
  line-height: 1.1;
  font-size: clamp(36px, 4vw, 62px);
  gap: 0.5rem;
}

.welcome-text {
  font-size: clamp(18px, 2.3vh, 48px);
  max-width: 600px;
  color: white;
  color: 16px;
}

.welcome-button {
  margin-top: 4rem;
  background-color: var(--welcome-button);
  padding-block: 1.5rem;
  padding-inline: 1.8rem;
  align-self: flex-end;
  color: white;
  cursor: pointer;
  border-radius: 9999rem;
  transition: background-color 0.2s ease-in-out;
}
.welcome-button:hover {
  color: var(--background);
  background-color: #359bea;
}

@media screen and (width < 700px) {
  .welcome-container {
    padding: 1rem;
    justify-content: center;
  }

  .welcome-button {
    align-self: center;
  }
}

@media screen and (width < 660px) {
  .welcome-title {
    flex-direction: column;
  }
}
