.home-page-container {
  background-image: url("../../public/hero2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-container {
  border: 2px solid blue;
  width: 100%;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 3rem;
  min-height: 90vh;
  min-height: 90dvh;
}

.welcome-content {
  border: 2px solid red;
  max-width: fit-content;
  z-index: 9999;
  display: flex;
  flex-direction: column;
}

.welcome-title {
  color: var(--welcome-title);
  line-height: 1.1;
  font-size: clamp(36px, 4vw, 56px);
}

.welcome-text {
  font-size: clamp(18px, 2.3vh, 48px);
  max-width: 600px;
  color: white;
  color: 16px;
}

.welcome-button {
  margin-top: 3rem;
  background-color: var(--welcome-button);
  padding-block: 1.2rem;
  padding-inline: 1.4rem;
  align-self: flex-end;
  color: white;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease-in-out;
}
.welcome-button:hover {
  color: var(--background);
  background-color: #359bea;
  cursor: pointer;
  transition: all 0.3s ease-in;
  padding-right: 24px;
  padding-left: 24px;
}

@media screen and (width < 600px) {
  .welcome-container {
    padding: 1rem;
    justify-content: center;
  }

  .welcome-button {
    align-self: center;
    padding-block: 0.8rem;
    padding-inline: 1rem;
  }
}
