.navbar-container {
  width: 100%;
  height: 4rem;
  position: relative;
}

.navbar {
  width: 100%;
  height: 100%;
  background-color: transparent;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: #183851;
}

.navbar-item {
  color: rgb(255, 255, 255);
  transition: all ease 0.2s;
}
.navbar-item:hover {
  color: darkgray;
}

.burger {
  z-index: 9999;
  cursor: pointer;
  display: none;
  flex-direction: column;
  gap: 3px;
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 1rem;
  right: 1rem;
}
.burger-open {
  z-index: 9999;
  cursor: pointer;
  display: none;
  flex-direction: column;
  gap: 3px;
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 1rem;
  right: 1rem;
}

.burger-line {
  width: 100%;
  border-radius: 2px;
  height: 6px;
  background-color: white;
  transition: all 0.4s ease;
}
.burger-open .burger-line:nth-child(1) {
  transform: rotate(45deg) translateY(7px);
  background-color: rgb(20, 20, 20);
}
.burger-open .burger-line:nth-child(2) {
  display: none;
}
.burger-open .burger-line:nth-child(3) {
  transform: rotate(-45deg) translateY(-6px);
  background-color: rgb(20, 20, 20);
}

.burger-navbar-container {
  padding: 2rem;
  background-color: azure;
  display: none;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  position: absolute;
  margin: 0;
  width: 100%;
  height: 70vh;
  transition: all 0.4s ease;
}
.burger-navbar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: transparent;
  width: fit-content;
  height: 50vh;
  z-index: 900;
}
.burger-navbar-item {
  font-size: 24px;
}
.burger-navbar-item:hover {
  cursor: pointer;
  color: grey;
}
@media screen and (width < 600px) {
  .navbar {
    display: none;
  }
  .burger {
    display: flex;
  }
  .burger-open {
    display: flex;
  }
  .burger-navbar-container {
    display: flex;
  }
}
