.footer-section {
    background-color: var(--bg-blue2);
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.footer {
    width: 100%;
    background-color: var(--bg-blue2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 0rem;
    padding-top: 2rem;
    padding-bottom: 6rem;
}

.footer-item {
    flex-basis: 430px;
    height: 275px;
}

.contact-info-container {
    padding-top: 2rem;
    border-radius: 0.5rem;
    color: #000;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.contact-row {
    width: 100%;
    display: flex;
}

.contact-item-1 {
    text-align: end;
    align-self: start;
    flex-basis: 30%;
    margin-right: 0.5rem;
    color: white;
}
.contact-item-2 {
    margin-left: 0.5rem;
    flex-basis: 60%;
    color: white;
}

.footer-icons {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    padding-inline: 4rem;
    padding-left: 5rem;
    justify-content: space-evenly;
}

.map {
    border: none;
    width: 400px;
    height: 275px;
    overflow: hidden;
    background-color: var(--background);
    border-radius: 0.5rem;
}

/* Mobile */
@media screen and (max-width: 600px) {
    .footer-section {
        padding-bottom: 0rem;
    }

    .footer-item {
        flex-basis: 300px;
    }

    .footer {
        padding-bottom: 0;
    }

    .map {
        border-radius: 0;
        width: 100%;
    }
}
