.item-page-container {
  background-color: var(--bg-blue2);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.go-back {
  margin-left: 5rem;
  margin-top: 6rem;
  width: 100%;
  transition: all 0.3s ease;
  color: #ffffff;
}

.go-back:hover {
  color: #d5d5d5;
  cursor: pointer;
}

.item-content {
  min-height: fit-content;
  margin-bottom: 4rem;
}

.item-title {
  color: white;
  padding: 1rem;
  font-size: 42px;
  font-size: clamp(34px, 4vw, 42px);
}

.text-container {
  color: white;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 1rem;
}

.price-time {
  color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-around;
}

.image-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  aspect-ratio: 16 / 9;
  margin: 1rem auto;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.item-image {
  object-fit: cover;
}

.navigation-buttons {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-button {
  color: #ffffff;
}

.arrow-button:hover {
  cursor: pointer;
  color: #d5d5d5;
}

.tooltip-wrapper {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  opacity: 0;
  background-color: #185571;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 6px 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.2s;
  white-space: nowrap;
  font-size: 0.875rem;
  max-width: 200px;
}

.tooltip-wrapper:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* Remove border-radius on small screens
and adjust tool-tip */

@media (max-width: 640px) {
  .image-container {
    border-radius: 0;
  }

  .tooltip-left {
    left: 0;
    transform: none;
  }

  .tooltip-right {
    right: 0;
    left: auto;
    transform: none;
  }
}

.item-button {
  background-color: var(--welcome-button);
  border-radius: 0.4rem;
  text-transform: none;
  font-style: normal;
  font-weight: 400;
  width: 80px; /* lock width so layout won't shift */
  height: 36px;
  color: #fff;
  font-size: 0.7rem;
  line-height: 14px;
  letter-spacing: 1.2px;
  border: 0;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-button span {
  display: inline-block;
  transition: transform 0.3s ease;
}

.item-button:hover {
  padding-left: 5px;
  transform: translateX(-2px);
  background-color: var(--welcome-button-hover);
}

.item-button:hover span {
  transform: translateX(2px); /* subtle movement */
}
