.item-page-container {
  background-color: var(--background);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.go-back {
  margin-left: 2rem;
  margin-top: 2rem;
  width: 100%;
  transition: all 0.3s ease;
  color: #5c5c5c;
}

.go-back:hover {
  color: #111111;
  cursor: pointer;
}

.item-content {
  min-height: fit-content;
  margin-bottom: 4rem;
}

.item-title {
  padding: 1rem;
  font-size: 42px;
  font-size: clamp(34px, 4vw, 42px);
}

.text-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 1rem;
}

.image-container {
  width: 100%;
  max-width: 600px;
  margin: 1rem auto;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.navigation-buttons {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-button {
  color: #5c5c5c;
}

.arrow-button:hover {
  cursor: pointer;
  color: #333;
}

.tooltip-wrapper {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  opacity: 0;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 6px 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.2s;
  white-space: nowrap;
  font-size: 0.875rem;
  max-width: 200px;
}

.tooltip-wrapper:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* Remove border-radius on small screens
and adjust tool-tip */

@media (max-width: 640px) {
  .image-container {
    border-radius: 0;
  }

  .tooltip-left {
    left: 0;
    transform: none;
  }

  .tooltip-right {
    right: 0;
    left: auto;
    transform: none;
  }
}
