.popular {
  width: 100%;
  height: 24rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: var(--bg-blue2);
  position: relative;
}

/* Left & Right Arrow Buttons */
.arrows-container {
  position: absolute;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem; /* space from edges */
  pointer-events: none; /* allow carousel clicks through */
}

.arrow {
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  z-index: 2;
  pointer-events: all; /* allow clicking the buttons */
}

/* Carousel Outer Container */
.carousel {
  width: 800px; /* Adjusted for item width */
  overflow: hidden;
  height: 4rem;
  border-radius: 0.5rem;
}

/* Inner Track for Sliding */
.carousel-inner {
  height: 100%;
  display: flex;
  gap: 2rem;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
}

/* Individual Items */
.item {
  min-width: 400px;
  height: 100%;
  padding: 1rem;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  border-radius: 8px;
  color: white;
  border: solid white 0.8px;
}

@media screen and (max-width: 960px) {
  .popular {
    padding: 0 1rem;
    height: 14rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .arrows-container {
    position: static;
    width: 100%;
    padding: 0 1rem;
  }

  .carousel {
    width: 100%; /* fluid width */
  }

  .carousel-inner {
    gap: 1rem;
  }

  .item {
    min-width: 90%; /* almost full width */
    font-size: 1.1rem;
    padding: 0.5rem;
  }

  .arrow {
    padding: 0.5rem;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 500px) {
  .carousel-inner {
    width: 100%;
  }
}
