.aktuellt-page {
    background-color: var(--bg-blue2);
    min-height: 100vh;
}

.aktuellt-content {
    color: white;
    padding: 1rem;
    margin-top: 8rem;
    max-width: 700px;
    background-color: transparent;
}

.aktuellt-text-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title-text-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.title-margin-top {
    margin-top: 3rem;
}

.logotype-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.logotype-wrapper {
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logotype-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
}

.logo-80-small {
    max-width: 80%; /* or a fixed width like 180px */
    height: auto;
}

.aktuellt-space {
    height: 5rem;
}

@media screen and (width < 600px) {
    .logotype-container {
        flex-direction: column;
    }
}
